body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
}

#login-button, #logout-button {
    border: 2px solid #1ed760;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #1ed760;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 20px; /* Add margin to separate from the user info */
}

#login-button:hover, #logout-button:hover {
    background-color: white;
    color: #1ed760;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info-container {
    display: flex;
    align-items: center;
}

.user-name {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.playlists-container {
    margin-top: 20px;
}

.playlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.playlist-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.playlist-info p {
    margin: 5px 0;
}

.playlist-info a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #1ed760;
    border-radius: 5px;
    text-decoration: none;
    color: #1ed760;
    transition: background-color 0.3s, color 0.3s;
}

.playlist-info a:hover {
    background-color: #1ed760;
    color: white;
}

.playlist-actions {
    display: flex;
    align-items: center;
}

.playlist-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #1ed760;
    border-radius: 5px;
    background-color: #fff;
    color: #1ed760;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.playlist-actions button:hover {
    background-color: #1ed760;
    color: white;
}

.container {
    margin-top: 20px;
}